<div id="<%= dom_id user %>">
  <p>
    <strong>Name:</strong>
    <%= user.name %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= user.email %>
  </p>

  <p>
    <strong>Facebook:</strong>
    <%= user.facebook %>
  </p>

  <p>
    <strong>Instagram:</strong>
    <%= user.instagram %>
  </p>

  <p>
    <strong>Twitter:</strong>
    <%= user.twitter %>
  </p>

</div>
